[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = {extras = ["dev", "full"],version = "*"}
funcparserlib = "==1.0.0a0"
pyyaml = "*"
kivyontop = "*"

[dev-packages]

[requires]
python_version = "3.9"
